body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pit{
    width: 20vmin;
    min-height: 10vmin;
    border-radius: 6vmin;
    box-shadow: 3px 3px 6px #222 inset;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 3vmin;
    margin: 1vmin;
}
.pit.store{
    width: 42vmin;
}
.marble{
    background-color: red;
    width: 2vmin;
    height: 2vmin;
    border-radius: 100%;
    box-shadow: -2px -2px 3px #522 inset;
}
.column{
    display: flex;
    flex-direction: column;
}
.box{
    display: flex;
}
#board{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    /* width: 160vmin; */
    border-radius: 4vmin;
    /* padding: 4vmin; */
    border: 2vmin solid chocolate;
    /* overflow: hidden; */
    box-shadow: 3px 3px 6px #222;
}
#p1row{

}
#p2row{
    
}
#p1store{

}
#p2store{
    
}