body{
    margin: 0;
    padding: 0;
    background-color: sienna;
    font-family: Consolas, sans-serif;
}
a{
    text-decoration: none;
    color: limegreen;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pit{
    width: 20vmin;
    min-height: 10vmin;
    border-radius: 6vmin;
    box-shadow: 3px 3px 6px #222 inset;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 3vmin;
    margin: 1vmin;
}
.pit.store{
    width: 42vmin;
}
.marble{
    background-color: red;
    width: 2.3vmin;
    height: 2.3vmin;
    border-radius: 100%;
    box-shadow: -2px -2px 3px #522 inset;
}
.column{
    display: flex;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
}
.player1{
    background-color: blanchedalmond;
}
.player2{
    background-color: maroon;
}
#board{
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    border-radius: 4vmin;
    border: 2vmin solid sandybrown;
    box-shadow: 4px 4px 6px #222;
}
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    #board{
        box-shadow: 6px 6px 8px #222;
    }
    .pit{
        width: 40vmin;
        height: 20vmin;
        box-shadow: 4px 4px 6px #222 inset;
    }
    .pit.store{
        width: 82vmin;
    }
    .marble{
        width: 4vmin;
        height: 4vmin;
        box-shadow: -4px -4px 6px #522 inset;
    }
}